.Container {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.Name h1 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.Navbar {
  text-align: center;
}

.Navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.Navbar li a {
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.Navbar li a:hover {
  color: #007acc;
}
