.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 20px;
}

.Container {
  width: 300px;
  background-color: wheat;
  border-radius: 10px;
  padding: 16px;
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

.Container img {
  width: 100%;
  object-fit: contain;
  border-radius: 100%;
  margin-bottom: 10px;
}
